.root {
    -fx-background-color: rgba(206, 255, 255, 0.53);
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 0px 0px 0px 15px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.table-view {
    -fx-background-color: rgba(206, 255, 255, 0.53);
    -fx-my-cell-background: #005351;
}

.table-view:filled{
    -fx-background-color: rgba(206, 255, 255, 0.53);
}

.button {
    -fx-border-radius: 3;
    -fx-padding: 3 6 6 6;
}

#btnCancel {
    -fx-alignment: center ;
    -fx-spacing: 100px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}